<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Dice rolling app">
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#1779ba" />
    <title>The Dicer!</title>
    <link rel="stylesheet" href="/public/css/overrides.css" type="text/css">
    <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/public/images/favicon.ico" type="image/x-icon">
    <link rel="icon" type="image/png" sizes="192x192" href="/public/images/icon.192.png">
    <link rel="apple-touch-icon" href="/public/images/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.json">
</head>
<body>
    <noscript>
        <h1>JavaScript required to use this app.</h1>
    </noscript>