.cbutton {
  position: relative;
  background-color: getColor(gry);
  border: none;
  color: getColor(primary);
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.cbutton:after {
  content: "";
  background: getColor(accent);
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.cbutton:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}